<form [formGroup]="form">
  <div>
    <p>Currency input</p>
    <currency-input controlClass="currency"></currency-input>
  </div>

  <div>
    <p>Number range input</p>
    <number-range-input
      controlClass="range"
      formControlName="range"
      minValue=0
      maxValue=100
      placeholder="test"
      [suffix]="suffix"
      [additionalClass]="false ? 'additional-class' : ''">
    </number-range-input>

    <ng-template #suffix>
        <div>
            Suffix block
        </div>
    </ng-template>
  </div>

  <div>
    <p>Positive numbers input</p>
    <positive-numbers-input controlClass="positive"></positive-numbers-input>
  </div>
</form>
